# bck

*~

.idea/
.ipynb_checkpoints/
1
2
31oct98.dat
FileSystemTree.py
PeriodicTable.py
PeriodicTable.pyc
PeriodicTable_bck.py
QScriptOption.py
ScanWindow.py
SimpleActions.py
SimpleActions.pyc
Untitled.ipynb
_gevent.py
action_pymca.py
argparse_example.py
array.py
array_widget.py
arraylike.py
arrayview.py
axessel.py
bgwidget.py
build/
calib.py
check_copyright_date.py
colors.py
consoletest.py
customfilesystemsmodel.py
cx_setup.py
dataset_stack.py
dataviewer.py
debug_doctest.py
dist/
fft2.png
fit_mca.py
fsh5model.py
fsh5model.pyc
getPR.py
github_hook.py
griddata.py
h5group2dict.py
hdf5_data_model.py
hdf5_data_model.pyc
hello.py
inuithread.py
load1d.py
loi_stack.py
manylinux_Qt4.sh
manylinux_hdf5plugin.sh
mycube.h5
noise.py
noise.pyc
numpy
peak_search.py
peak_silx_pymca.py
peinture.py
plotwin.py
poisson_distri.py
profile_custom.py
pymca_fit_mca.py
pymcalaunch.py
qtreeview_ex.py
recursive_addcurve.py
replacement_qscriptoption.py
sample.dat
scatter.py
shifaction.py
shifaction.py
"silx_fit.py at fit \302\267 vasole_silx.html"
"silx_fit.py at fit \302\267 vasole_silx_files/"
smooth.py
specfit_test.py
specfitwidget_test_data.py
stackView.py
stackViewListOfImages.py
stepdown.py
strip_snip.py
strip_subac.py
tabdockwidg.py
test*
threaded.py
tmp.py
tuto_fit.py
tuto_fitmanager.py
tuto_fitmanager_gauss.py
tuto_fitwidget.py
tuto_fitwidget2.py
tuto_plotAction.py
tuto_plotAction_fft.py
tuto_plotAction_shift.py
